@import "tailwindcss";

.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #343541;
  color: white;
  padding: 1rem;
  font-family: 'Segoe UI', sans-serif;
}

.home-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.home-description {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #c5c5d2;
}
